<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Home</title>
		<%- include("./partials/head") %>
	</head>
	<body>
		<%- include("./partials/nav") %> 
		<% if (locals.user) { %>
		<p><%= JSON.stringify(user) %></p>
		<% } %>
		<%- include("./partials/scripts") %>
	</body>
</html>
